body {
  background-color: #ffe4c4;
  font-family: "Inter", sans-serif;
}
.blog-card {
  min-width: 128px;
  max-width: 256px;
  min-height: 128px;
  border-radius: 10px solid burlywood;
  margin-bottom: 16px;
  background-color: rgb(255, 250, 250);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-content {
  padding: 1rem;
  padding-top: 0;
}
.card-footer {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  color: grey;
  font-size: 1rem;
  margin-bottom: 6.4px;
}
.heading {
  font-size: 1.5rem;
  margin-bottom: 1.24rem;
}
.content {
  opacity: 60%;
  font-size: 10.8pt;
}
a {
  text-decoration: none;
}
a:visited {
  color: rgb(109, 109, 255);
}
@media only screen and (min-width: 768px) {
  .blog-card {
    display: flex;
    flex-direction: row;
  }
  img {
    width: 40%;
  }
  .card-content {
    justify-content: space-between;
  }
}
